@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-hex: #000;
  --background-start-hex: #008080;
  --background-end-hex: #63a8a8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 255, 255, 255;
    --background-start-hex: 0, 0, 0;
    --background-end-hex: 0, 0, 0;
  }
}

@layer base {
body {
  color: var(--foreground-hex);
  background: linear-gradient(
      to top right,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex);

  @apply tracking-wide;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl
}

h2 {
  @apply text-3xl sm:text-4xl
}

li {
  @apply cursor-pointer
}

button {
  @apply shadow-xl shadow-slate-400 rounded-xl uppercase bg-gradient-to-r from-[--background-start-hex] to-[--background-end-hex]
}

}


.main-content {
  padding-bottom: 1px;
}

.logo {
  fill: white;
}
